.container {
  display: grid;
  grid-template-columns: repeat(12, 12fr);
  grid-auto-rows: 80px 100% 50px;
}
header {
  grid-column: span 12;
  display: flex;
  background-color: #000;
  border-top: 8px solid  #21b79e;
}
header > div:first-child {
  font-weight: bold;
}
header > div:nth-child(2) {
  margin-left: auto;
}
header > div {
  margin: 15px 15px;
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px dotted #000;
}
h1 {
  margin: 0 10px;
}
nav {
  grid-column: span 2;
  background-color: #B5F4E9;
}
main {
  grid-column: span 10;
}
footer {
  grid-column: span 12;
  background-color: #004c3f;
}
.category li {
  height: 20%;
  font-size: 25px;
  margin-top: 20px;
  list-style-type: square;
}
.category li a {
  color: #003251;
}
.items li {
  display: block;
  margin: 10px 15px;
  padding: 10px 10px;
  float: left;
  width: 44%;
  border: 3px solid #B5F4E9;
  border-radius: 5px;
  border-right-style: none;
  border-top-style: none;
}
.items p {
  font-size: 20px;
}
.items a {
  color: #003251;
}
footer > p {
  text-align: center;
  color: #fff;
}
.bar {
  display: block;
  height: 50px;
  padding-top: 20px;
  background-color: #7DCBF2;
  border-bottom: 2px dotted #fff;
}
.bar a {
	display: block;
	float: left;
	margin-left: 30px;
  color: #000;
  border-bottom: none;
  font-size: 25px;
}
